@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  .animate-float {
    animation: float 2s ease-in-out infinite;
  }

@keyframes bounce-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
  }

  .animate-bounce-slow {
    animation: bounce-slow 1s infinite alternate;
  }
  
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); } /* Moves entire set to left */
}

.animate-scroll {
  display: flex;
  animation: scroll 25s linear infinite; /* Adjust speed as needed */
  width: 200%; /* Prevents gaps by ensuring enough images */
}
.font-dancing {
      font-family: 'Dancing Script', cursive, sans-serif;
    }


